.Moment {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
    .Moment--title {
        z-index: 1;
        position: absolute;
        right: 2vmax;
        bottom: 0;
        text-transform: uppercase;
        color: rgb(119, 136, 154);
        font-size: 4vmax;
    }
    .Moment--image {
        background-size: cover;
        background-position: center center;
        z-index: -1;
        width: 100%;
        height: 100%;
     }
    .Moment--item-enter {
        opacity: 0.01;
    }

    .Moment--item-enter.Moment--item-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .Moment--item-leave {
        opacity: 1;
    }

    .Moment--item-leave.Moment--item-leave-active {
        opacity: 0.01;
        transition: opacity 500ms ease-in;
    }